**/node_modules
**/dist
**/build
build_test/
build_installer_temp/
build_installer_temp_*/
dist_installer/
logs/
*.log
.git
.gitignore
*.md
docker-compose*.yml
Dockerfile*
safety_violations.db
yolo11n.engine
yolo11n.onnx
